.top-header-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: 0.6s ease-in;
    z-index: 2;
    background-color: var(--headline-color);
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: absolute;
    left: 0;
    top: 55px;
    padding: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--secundary-color);
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #FFF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
  }

  .navbar.fixed-top {
    position: fixed;
    top: 0;
    -webkit-animation: fade .50s;
    animation: fade .50s;
    background-color: var(--secundary-color);
    -webkit-box-shadow: 0 4px 4px -6px #333;
    -moz-box-shadow: 0 4px 4px -6px #333;
    box-shadow: 0 4px 4px -6px #333;
  }
  
  



   